{% extends "base.html" %}

{% block 'titulo' %}Login{% endblock 'titulo' %}

{% block 'content' %}
    
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center" style="color: #4937E4">Faça login na sua conta</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'authUser' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}